#main {
  width: 5em; }

.main__menu-top, .main__menu-icon, .main__menu-top ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.header__navigation {
  background: #031218;
  margin: 0em;
  border-radius: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 4em;
  text-align: center; }
  .header__navigation i {
    color: #D5D4D4;
    font-size: 2em; }
  .header__navigation .logo__elephant {
    height: 100%; }

.main__search {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block; }
  .main__search i {
    color: #D5D4D4;
    font-size: 1em; }

.main__menu-icon {
  display: inline-block; }
  .main__menu-icon .btn {
    display: none; }

.main__menu-top {
  height: 100%; }
  .main__menu-top nav {
    display: none; }

@media (min-width: 992px) {
  .main__menu-icon .btn {
    display: inline-block; }
  .main__menu-icon i {
    display: none; } }
@media (min-width: 1200px) {
  .main__menu-icon {
    display: none; }

  .main__menu-top nav {
    display: inline-block; } }
.background {
  height: 100%; }

.header__banner-wrapper {
  background: black;
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .header__banner-wrapper figure {
    height: 100%; }

.header__banner-background {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0; }

.header__banner-content {
  /* background:rgba(0,0,0,0.6);*/
  color: #CCCCCC;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3; }
  .header__banner-content h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    flex-direction: row; }
  .header__banner-content p {
    font-size: 1.7rem;
    flex-direction: row; }
  .header__banner-content .btn {
    margin: auto;
    flex-direction: row;
    font-size: 1.3rem; }

.filter-background {
  height: 100%;
  width: 100%;
  background: rgba(5, 7, 21, 0.4);
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.cb-slideshow,
.cb-slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0; }

.cb-slideshow:after {
  content: '';
  background: transparent url(../img/pattern.png) repeat top left; }

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s; }

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s; }

.cb-slideshow li:nth-child(1) span {
  background-image: url(http://wallerz.net/wp-content/uploads/2014/12/4004_elephant.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: url(http://wfiles.brothersoft.com/e/elephant_192953-1920x1080.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url(http://hdwallpapers-download.com/wp-content/uploads/2014/06/Elephant-Animal-Image-08.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url(http://hdwallpapers-download.com/wp-content/uploads/2014/06/Amazing-Elephant-Wallpaper-08.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) span {
  background-image: url(http://myworldfacts.com/wp-content/uploads/2015/06/Elephant-Wallpaper-11.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) span {
  background-image: url(http://newartcolorz.com/images/elephant-wallpaper/kartandtinki1_elephant-wallpaper_03.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1; }

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 140px; } }
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 80px; } }
.main__courses {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap; }
  .main__courses .btn {
    margin: auto;
    font-size: 1.3rem; }
  .main__courses h4 {
    font-size: 1.4rem; }

.element__effect-hover img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.element__effect-hover .element__hover-mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: rgba(33, 54, 93, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.element__effect-hover h2 {
  transition: all 0.2s ease-in-out 0s;
  background: rgba(0, 77, 113, 0.9);
  color: white;
  padding: 0.5em 0em; }

.element__effect-hover p {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.element__effect-hover:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.element__effect-hover a.element__hover-btn {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.element__effect-hover:hover .element__hover-mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.element__effect-hover:hover h2,
.element__effect-hover:hover p,
.element__effect-hover:hover a.element__hover-btn {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.element__effect-hover:hover p {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
  color: white;
  font-size: 1.2em;
  padding: 0.2em 1em; }

.element__effect-hover:hover a.element__hover-btn {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.view {
  overflow: hidden;
  position: relative; }
  .view img {
    width: 100%; }

.view .element__hover-mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.element__hover-btn {
  color: white; }

.main__description {
  margin-top: 1em;
  min-height: 100vh;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main__description p {
    padding: 1em;
    font-size: 1.3rem; }

.main__description-item {
  background: rgba(0, 0, 0, 0.6); }
  .main__description-item div {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  .main__description-item i {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center; }
  .main__description-item h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.7rem; }

.main__profesores {
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.main__profesores-background {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0; }

.main__profesores article {
  background: rgba(0, 0, 0, 0.6);
  color: #CCCCCC;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end; }
  .footer nav {
    display: flex;
    align-items: center; }
  .footer ul {
    margin: 0;
    padding: 0; }
    .footer ul li {
      display: inline-flex;
      padding-right: 1em; }
      .footer ul li a {
        color: whitesmoke; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif; }

.container-fluid {
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  background: #cccccc; }

.main__item-last {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eeeeee;
  text-align: center; }
  .main__item-last .btn {
    margin: 0.5em; }

.btn-principal {
  background: rgba(5, 129, 144, 0.8);
  padding: 0.2em;
  font-size: 1.3em; }
  .btn-principal a {
    color: white; }

.icon__menu {
  padding: 0.4em;
  border: 1px solid black;
  border-radius: 50%;
  background: #181818;
  font-size: 1.8em !important; }

.icon__menu:hover {
  background: #004266; }

.icon__menu.fa-question {
  padding: 0.4em 0.6em; }

.full-image img {
  width: 100%;
  margin: 0;
  padding: 0; }

.full-image {
  margin: 0;
  padding: 0; }

.no-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.no-list li {
  padding: 0;
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
