//****************
//==$Informacion==
//****************

.main__description-item div{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    i{
        font-size: 1.9em; 
        margin: 0;
        padding: 0;
    }
    h3{
        margin: 0;
        padding: 0;
    }
}
.main__description p{
    padding:1em;   
}
.main__description{
    margin-top: 1em;
}
