//*********
//==$menu==
//*********
//==$reset==
.main__menu-top, .main__menu-icon{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


//==$style==
.header__navigation{
    margin: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    height: 6em;
    i{
        color: #D5D4D4;
        font-size: 2em;
    }
    
}
    .main__search{
        margin: 0;
        padding: 0;
        text-align: center;
        display: inline-block;
        i{
            color: #D5D4D4;
            font-size: 1em;
        }
    }
    .main__menu-icon{
        display: inline-block;
        .btn{
            display: none;
        }
    }
    .main__menu-top nav{
        display: none;
    
    }

//==$mobile small==

@media (max-width: 768px) {

}
//==$mobile==
@media (max-width: 992px) {

}
//==$tablet small==
@media (min-width: 992px) {
    .main__menu-icon{
        .btn{display: inline-block;}
        i{display: none;}
    }
}
//==$desktop==
@media (min-width: 1200px) {
    .main__menu-icon{display: none;}
    .main__menu-top nav{display: inline-block;}
}
.background{
    height: 100%;    
       
}